:root
{
  --heading-font: 'Helvetica, Arial, sans-serif';
  --paragraph-font:'Poppins';
  --nav-background-color: #f5f4f4;
  --nav-logo-font : "Satisfy";
  --nav-hover-under-color:#5d516c;
  --color-heading- :#000000;
  --color-theme-:#6666ff;
  --button-text-theme:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	/* font-size: 0.925rem; */
  
  }
  

/* Navbar start */

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}
@media (max-width: 768px) {
  .navbar,
.navbar > .container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 0.5rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
    
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.2rempx;

}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;

}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  max-width: 350px;
  width: 250px;
  white-space: wrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 30%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}
.nav-logo
{
    font-size: 2.3rem;
    margin-right: 100%;
}



/* Navbar Start */
.navbar-container{
  width: 100%;
  height: 9vh;
  display: flex;
  background-color: var(--nav-background-color); 
  align-items: center;
  justify-content: center;
}
.nav-logo{
  display: inline-block;
  justify-content: center;
  margin-right: 30%;
  font-family: var(--nav-logo-font);
  font-weight: 500;
}
nav ul li{
  display: inline-block;
  list-style: none;
  font-size: 15px;
  padding: 0 5px;
  margin: 0px 20px;
  cursor: pointer;
  position: relative;
  font-weight: 600;
}
nav ul li:after{
  content: '';
  width: 0;
  height: 3px;
  background:var(--nav-hover-under-color);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after{
  width:100%;
}
/* Navbar End */


/* Navbar end */













/* parrlex-start-here */


.home-banner-parallex{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	color: #fff;
	/* text-shadow: black 2px 2px 2px; */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.home-banner-parallex h1 
{
	font-size: 4rem;
}
.bg-1{
	background-image: url(../image/bg-1.jpg);
	width: 100%;
	height: 100vh;
}
.bg-2{
	/* background-image: url(../image/bg-2.jpg); */
	width: 100%;
	height: 450px;
  background-image: url(../image/pattern-img.png);
  background-repeat:no-repeat ;
  background-size: cover;
  
}
.all-fes-head
{
  color: var(--color-heading-);
  font-size: 4rem;
  font-family: var(--heading-font);
  align-items: start;
  justify-content: center;
  display: flex;
  /* margin-top: 10px; */
  padding-top: 30px;
  font-weight: 500;



}
.all-fes-text
{
  color: var(--color-heading-);
  font-size: 2rem;
  font-family: var(--paragraph-font);
  text-align: center;
  margin-top: 25px;

}



.all-fes-btn1
{
  
    width: 200px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family:var(--button-text-theme) ;
    /* margin-left: 30px; */
    /* margin-bottom: 30px; */
    cursor: pointer;
    display: inline-block;
    height: 42px;
    margin-left: 450px;
    border-radius: 12px;
    margin-top: 20px;
  
  border: 3px solid #6666ff;
  background-image: -webkit-linear-gradient(
    30deg,
    #6666ff 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #6666ff 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;

  
  
  
}
.all-fes-btn1:hover {
  background-position: 100%;
  color: #000000;
  font-weight: 600;
  /* border: none; */
}


.all-fes-btn2
{
  
    width: 200px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family:var(--button-text-theme) ;
    /* margin-left: 30px; */
    /* margin-bottom: 30px; */
    cursor: pointer;
    display: inline-block;
    height: 42px;
    margin-left: 30px;
    border-radius: 12px;
    margin-top: 20px;
  
  border: 3px solid #6666ff;
  background-image: -webkit-linear-gradient(
    30deg,
    #6666ff 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #6666ff 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;

  
  
  
}
.all-fes-btn2:hover {
  background-position: 100%;
  color: #000000;
  font-weight: 600;
  /* border: none; */
}
/* .button-2:hover {
  background-position: 100%;
  color: #c266d3;
} */
.bg-3{
	background-image: url(../image/bg-3.jpg);
	width: 100%;
	height: 100vh;
}
.bg-4{
	background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-5{
	background-image: url(../image/bg-5.jpg);
	width: 100%;
	height: 100vh;
}
.bg-6{
	background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-7{
	background-image: url(../image/bg-7.jpg);
	width: 100%;
	height: 100vh;
}
.bg-8{
	background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-9{
	background-image: url(../image/bg-9.jpg);
	width: 100%;
	height: 100vh;
}
.bg-10{
	background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-11
{
  background-image: url(../image/bg-11.jpg);
	width: 100%;
	height: 100vh;
}
.bg-12
{
  background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-13
{
  background-image: url(../image/BG-13.jpg);
	width: 100%;
	height: 100vh;
}
.bg-14
{
  background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-15
{
  background-image: url(../image/bg-15.jpg);
	width: 100%;
	height: 100vh;
}
.bg-16
{
  background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-17
{
  background-image: url(../image/bg-17.jpg);
	width: 100%;
	height: 100vh;
}
.bg-18
{
  background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
.bg-19
{
  background-image: url(../image/bg-19.jpg);
	width: 100%;
	height: 100vh;
}
.bg-20
{
  background-image: url(../image/pattern-img.png);
	width: 100%;
	height: 450px;
}
/* parrlex-end-here */


  